__pycache__/
.vscode
build/*
workshop/*/.ipynb_checkpoints
workshop/1-Personalization/interactions.csv
workshop/1-Personalization/items.csv
workshop/1-Personalization/users.csv
src/web-ui/node_modules
.DS_Store
src/aws-lambda/*/bin/
src/aws-lambda/*/package
src/aws-lambda/elasticsearch-pre-index/products.yaml
src/aws-lambda/personalize-delete-resources/models
src/aws-lambda/personalize-pre-create-campaigns/models
local/*
demo.md
generators/*.gz
/csvs/
.unotes/*
!workshop/5-Conversational/RetailDemoStore_Lex.zip
*.zip
workshop/data/*
workshop/datagenerator/*
workshop/requirements.txt
