.idea
__pycache__/
.vscode
.python-version
build/*
.venv/
venv/
pyvenv.cfg
bin/
lib/
workshop/*/.ipynb_checkpoints
workshop/1-Personalization/interactions.csv
workshop/1-Personalization/items.csv
workshop/1-Personalization/users.csv
workshop/generate_interactions_personalize.py
workshop/generate_interactions_personalize_offers.py
src/web-ui/node_modules
src/aws-lambda/amazon-pay-signing/node_modules
.DS_Store
src/alexa/.ask/
src/alexa/ask-resources.json
src/alexa/lambda/.env
src/alexa/infrastructure/
src/aws-lambda/*/bin/
src/aws-lambda/*/package
src/aws-lambda/opensearch-pre-index/products.yaml
src/aws-lambda/personalize-delete-resources/models
src/aws-lambda/personalize-pre-create-resources/models
src/aws-lambda/personalize-pre-create-resources/data
src/aws-lambda/pinpoint-auto-workshop/pinpoint-templates
local/*
demo.md
generators/*.gz
/csvs/
.unotes/*
!workshop/5-Conversational/RetailDemoStore_Lex.zip
*.zip
workshop/data/*
workshop/datagenerator/*
workshop/requirements.txt
workshop/1-Personalization/generate_interactions_personalize.py
workshop/1-Personalization/generate_interactions_personalize_offers.py
dist
*.code-workspace