Flask==1.0.2
requests==2.27.1
boto3==1.20.46
botocore==1.23.46
flask-cors==3.0.9
numpy==1.22.2
optimizely-sdk==3.5.2
expiring-dict==1.1.0
aws-xray-sdk==2.6.0
urllib3==1.26.8
itsdangerous==1.1.0
Jinja2==3.0.3