{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-19",
        "endpointPrefix": "geo",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Location Service",
        "serviceId": "Location",
        "signatureVersion": "v4",
        "signingName": "geo",
        "uid": "location-2020-11-19"
    },
    "operations": {
        "AssociateTrackerConsumer": {
            "name": "AssociateTrackerConsumer",
            "http": {
                "method": "POST",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/consumers",
                "responseCode": 200
            },
            "input": {
                "shape": "AssociateTrackerConsumerRequest"
            },
            "output": {
                "shape": "AssociateTrackerConsumerResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Creates an association between a geofence collection and a tracker resource. This allows the tracker resource to communicate location data to the associated geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "BatchDeleteGeofence": {
            "name": "BatchDeleteGeofence",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/delete-geofences",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchDeleteGeofenceRequest"
            },
            "output": {
                "shape": "BatchDeleteGeofenceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Deletes a batch of geofences from a geofence collection.</p> <note> <p>This action deletes the resource permanently. You can't undo this action.</p> </note>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "BatchEvaluateGeofences": {
            "name": "BatchEvaluateGeofences",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/positions",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchEvaluateGeofencesRequest"
            },
            "output": {
                "shape": "BatchEvaluateGeofencesResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Used in geofence monitoring. Evaluates device positions against the position of geofences in a given geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "BatchGetDevicePosition": {
            "name": "BatchGetDevicePosition",
            "http": {
                "method": "GET",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/positions",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetDevicePositionRequest"
            },
            "output": {
                "shape": "BatchGetDevicePositionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>A batch request to retrieve device positions.</p> <note> <p>The response will return the device positions from the last 24 hours.</p> </note>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "BatchPutGeofence": {
            "name": "BatchPutGeofence",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/put-geofences",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchPutGeofenceRequest"
            },
            "output": {
                "shape": "BatchPutGeofenceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>A batch request for adding geofences into a given geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "BatchUpdateDevicePosition": {
            "name": "BatchUpdateDevicePosition",
            "http": {
                "method": "POST",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/positions",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchUpdateDevicePositionRequest"
            },
            "output": {
                "shape": "BatchUpdateDevicePositionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Uploads a position update for one or more devices to a tracker resource. The data is used for API queries requesting the device position and position history.</p> <note> <p>Beta limitation — Location data will be sampled at a fixed rate of 1 position per minute, and retained for 24 hours before it expires.</p> </note>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "CreateGeofenceCollection": {
            "name": "CreateGeofenceCollection",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/collections",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateGeofenceCollectionRequest"
            },
            "output": {
                "shape": "CreateGeofenceCollectionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Creates a geofence collection. A geofence collection manages and stores geofences.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "idempotent": true
        },
        "CreateMap": {
            "name": "CreateMap",
            "http": {
                "method": "POST",
                "requestUri": "/maps/v0/maps",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateMapRequest"
            },
            "output": {
                "shape": "CreateMapResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Creates a map resource in your AWS account. </p> <p>A map resource lets you select a map style from an available provider.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            },
            "idempotent": true
        },
        "CreatePlaceIndex": {
            "name": "CreatePlaceIndex",
            "http": {
                "method": "POST",
                "requestUri": "/places/v0/indexes",
                "responseCode": 200
            },
            "input": {
                "shape": "CreatePlaceIndexRequest"
            },
            "output": {
                "shape": "CreatePlaceIndexResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Creates a place index resource in your AWS account.</p> <p>Place indexes support geocoding and reverse geocoding queries using your chosen data source.</p>",
            "endpoint": {
                "hostPrefix": "places."
            },
            "idempotent": true
        },
        "CreateTracker": {
            "name": "CreateTracker",
            "http": {
                "method": "POST",
                "requestUri": "/tracking/v0/trackers",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateTrackerRequest"
            },
            "output": {
                "shape": "CreateTrackerResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Creates a tracker resource in your AWS account. </p> <p>A tracker resource receives a device position in the form of a <code>DevicePostionUpdate</code>.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "idempotent": true
        },
        "DeleteGeofenceCollection": {
            "name": "DeleteGeofenceCollection",
            "http": {
                "method": "DELETE",
                "requestUri": "/geofencing/v0/collections/{CollectionName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteGeofenceCollectionRequest"
            },
            "output": {
                "shape": "DeleteGeofenceCollectionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Deletes a geofence collection from your AWS account.</p> <note> <p>This action deletes the resource permanently. You can't undo this action. If the geofence collection is the target of a tracker resource, the devices will no longer be monitored.</p> </note>",
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "idempotent": true
        },
        "DeleteMap": {
            "name": "DeleteMap",
            "http": {
                "method": "DELETE",
                "requestUri": "/maps/v0/maps/{MapName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteMapRequest"
            },
            "output": {
                "shape": "DeleteMapResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Deletes a map resource from your AWS account.</p> <note> <p>This action deletes the resource permanently. You cannot undo this action. If the map is being used in an application, the map may not render.</p> </note>",
            "endpoint": {
                "hostPrefix": "maps."
            },
            "idempotent": true
        },
        "DeletePlaceIndex": {
            "name": "DeletePlaceIndex",
            "http": {
                "method": "DELETE",
                "requestUri": "/places/v0/indexes/{IndexName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeletePlaceIndexRequest"
            },
            "output": {
                "shape": "DeletePlaceIndexResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Deletes a place index resource from your AWS account.</p> <note> <p>You can't undo this action. This deletes the resource permanently.</p> </note>",
            "endpoint": {
                "hostPrefix": "places."
            },
            "idempotent": true
        },
        "DeleteTracker": {
            "name": "DeleteTracker",
            "http": {
                "method": "DELETE",
                "requestUri": "/tracking/v0/trackers/{TrackerName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteTrackerRequest"
            },
            "output": {
                "shape": "DeleteTrackerResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Deletes an existing tracker resource from your AWS account.</p> <note> <p>This action deletes the resource permanently. You can't undo this action. If the tracker resource is in use, you may encounter an error. Make sure that the target resource is not a dependency for your applications.</p> </note>",
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "idempotent": true
        },
        "DescribeGeofenceCollection": {
            "name": "DescribeGeofenceCollection",
            "http": {
                "method": "GET",
                "requestUri": "/geofencing/v0/collections/{CollectionName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DescribeGeofenceCollectionRequest"
            },
            "output": {
                "shape": "DescribeGeofenceCollectionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the geofence collection details.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "DescribeMap": {
            "name": "DescribeMap",
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DescribeMapRequest"
            },
            "output": {
                "shape": "DescribeMapResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the map resource details.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "DescribePlaceIndex": {
            "name": "DescribePlaceIndex",
            "http": {
                "method": "GET",
                "requestUri": "/places/v0/indexes/{IndexName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DescribePlaceIndexRequest"
            },
            "output": {
                "shape": "DescribePlaceIndexResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the resource details for a place index in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "places."
            }
        },
        "DescribeTracker": {
            "name": "DescribeTracker",
            "http": {
                "method": "GET",
                "requestUri": "/tracking/v0/trackers/{TrackerName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DescribeTrackerRequest"
            },
            "output": {
                "shape": "DescribeTrackerResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the resource details for a tracker in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "DisassociateTrackerConsumer": {
            "name": "DisassociateTrackerConsumer",
            "http": {
                "method": "DELETE",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/consumers/{ConsumerArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DisassociateTrackerConsumerRequest"
            },
            "output": {
                "shape": "DisassociateTrackerConsumerResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Removes the association bewteen a tracker resource and a geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "GetDevicePosition": {
            "name": "GetDevicePosition",
            "http": {
                "method": "GET",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/positions/latest",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDevicePositionRequest"
            },
            "output": {
                "shape": "GetDevicePositionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the latest device position.</p> <note> <p>Beta limitation — Location data will be retained for 24 hours before it expires. </p> </note>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "GetDevicePositionHistory": {
            "name": "GetDevicePositionHistory",
            "http": {
                "method": "GET",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/positions",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDevicePositionHistoryRequest"
            },
            "output": {
                "shape": "GetDevicePositionHistoryResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the device position history within a specified range of time.</p> <note> <p>Beta limitation — Location data will be retained for 24 hours before it expires.</p> </note>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "GetGeofence": {
            "name": "GetGeofence",
            "http": {
                "method": "GET",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetGeofenceRequest"
            },
            "output": {
                "shape": "GetGeofenceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the geofence details from a geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "GetMapGlyphs": {
            "name": "GetMapGlyphs",
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}/glyphs/{FontStack}/{FontUnicodeRange}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetMapGlyphsRequest"
            },
            "output": {
                "shape": "GetMapGlyphsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the glyph file for a map resource. </p> <p>The glyph file is used to detemine how text is displayed on the map.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "GetMapSprites": {
            "name": "GetMapSprites",
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}/sprites/{FileName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetMapSpritesRequest"
            },
            "output": {
                "shape": "GetMapSpritesResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the sprite file for a map resource. </p> <p>The sprite file contains PNG images used to render icons on a map. The sprite file location is specified by a JSON document.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "GetMapStyleDescriptor": {
            "name": "GetMapStyleDescriptor",
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}/style-descriptor",
                "responseCode": 200
            },
            "input": {
                "shape": "GetMapStyleDescriptorRequest"
            },
            "output": {
                "shape": "GetMapStyleDescriptorResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the map style descriptor from a map resource. </p> <p>The style descriptor contains specifications on how features will render on a map. For example, what data to display, what order to display the data in, and the style for the data.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "GetMapTile": {
            "name": "GetMapTile",
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}/tiles/{Z}/{X}/{Y}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetMapTileRequest"
            },
            "output": {
                "shape": "GetMapTileResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves the map tile from the map resource.</p> <p>Map tiles are used to display a map in a grid arrangement using an X axis, Y axis , and Z (zoom) parameter. The origin is referenced as (0/0) on the top left of the map.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "ListGeofenceCollections": {
            "name": "ListGeofenceCollections",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/list-collections",
                "responseCode": 200
            },
            "input": {
                "shape": "ListGeofenceCollectionsRequest"
            },
            "output": {
                "shape": "ListGeofenceCollectionsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Lists geofence collections in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "ListGeofences": {
            "name": "ListGeofences",
            "http": {
                "method": "POST",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/list-geofences",
                "responseCode": 200
            },
            "input": {
                "shape": "ListGeofencesRequest"
            },
            "output": {
                "shape": "ListGeofencesResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Lists geofences stored in a given geofence collection.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "ListMaps": {
            "name": "ListMaps",
            "http": {
                "method": "POST",
                "requestUri": "/maps/v0/list-maps",
                "responseCode": 200
            },
            "input": {
                "shape": "ListMapsRequest"
            },
            "output": {
                "shape": "ListMapsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Lists map resources in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "maps."
            }
        },
        "ListPlaceIndexes": {
            "name": "ListPlaceIndexes",
            "http": {
                "method": "POST",
                "requestUri": "/places/v0/list-indexes",
                "responseCode": 200
            },
            "input": {
                "shape": "ListPlaceIndexesRequest"
            },
            "output": {
                "shape": "ListPlaceIndexesResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Returns a list of place index resources in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "places."
            }
        },
        "ListTrackerConsumers": {
            "name": "ListTrackerConsumers",
            "http": {
                "method": "POST",
                "requestUri": "/tracking/v0/trackers/{TrackerName}/list-consumers",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTrackerConsumersRequest"
            },
            "output": {
                "shape": "ListTrackerConsumersResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Retrieves a list of geofence collections currently associated to the given tracker resource.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "ListTrackers": {
            "name": "ListTrackers",
            "http": {
                "method": "POST",
                "requestUri": "/tracking/v0/list-trackers",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTrackersRequest"
            },
            "output": {
                "shape": "ListTrackersResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Returns a list of tracker resources in your AWS account.</p>",
            "endpoint": {
                "hostPrefix": "tracking."
            }
        },
        "PutGeofence": {
            "name": "PutGeofence",
            "http": {
                "method": "PUT",
                "requestUri": "/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
                "responseCode": 200
            },
            "input": {
                "shape": "PutGeofenceRequest"
            },
            "output": {
                "shape": "PutGeofenceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Adds a new geofence to a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
            "endpoint": {
                "hostPrefix": "geofencing."
            }
        },
        "SearchPlaceIndexForPosition": {
            "name": "SearchPlaceIndexForPosition",
            "http": {
                "method": "POST",
                "requestUri": "/places/v0/indexes/{IndexName}/search/position",
                "responseCode": 200
            },
            "input": {
                "shape": "SearchPlaceIndexForPositionRequest"
            },
            "output": {
                "shape": "SearchPlaceIndexForPositionResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Reverse geocodes a given coordinate and returns a legible address. Allows you to search for places or points of interest near a given position.</p>",
            "endpoint": {
                "hostPrefix": "places."
            }
        },
        "SearchPlaceIndexForText": {
            "name": "SearchPlaceIndexForText",
            "http": {
                "method": "POST",
                "requestUri": "/places/v0/indexes/{IndexName}/search/text",
                "responseCode": 200
            },
            "input": {
                "shape": "SearchPlaceIndexForTextRequest"
            },
            "output": {
                "shape": "SearchPlaceIndexForTextResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "documentation": "<p>Geocodes free-form text, such as an address, name, city, or region to allow you to search for places or points of interest. </p> <p>Includes the option to apply additional parameters to narrow your list of results.</p> <note> <p>You can search for results near a given position using <code>BiasPosition</code>, or results within a specific bounding box using <code>FilterBBox</code>. Providing both parameters simultaneously returns an error.</p> </note>",
            "endpoint": {
                "hostPrefix": "places."
            }
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String",
                    "locationName": "message"
                }
            },
            "documentation": "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "Arn": {
            "type": "string",
            "max": 1600,
            "min": 0,
            "pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
        },
        "ArnList": {
            "type": "list",
            "member": {
                "shape": "Arn"
            }
        },
        "AssociateTrackerConsumerRequest": {
            "type": "structure",
            "required": [
                "ConsumerArn",
                "TrackerName"
            ],
            "members": {
                "ConsumerArn": {
                    "shape": "Arn",
                    "documentation": "<p>The Amazon Resource Name (ARN) of the geofence collection to be associated with the given tracker resource. An ARN is a unique identifier used to identify an AWS resource.</p> <ul> <li> <p>Format example: <code>arn:partition:service:region:account-id:resource-type:resource-id</code> </p> </li> </ul>"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource to be associated with a geofence collection.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "AssociateTrackerConsumerResponse": {
            "type": "structure",
            "members": {}
        },
        "BatchDeleteGeofenceError": {
            "type": "structure",
            "required": [
                "Error",
                "GeofenceId"
            ],
            "members": {
                "Error": {
                    "shape": "BatchItemError",
                    "documentation": "<p>Specifies an error message associated with the request.</p>"
                },
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The geofence associated with the error message.</p>"
                }
            },
            "documentation": "<p>Contains error details for each geofence that failed to delete from the geofence collection.</p>"
        },
        "BatchDeleteGeofenceErrorList": {
            "type": "list",
            "member": {
                "shape": "BatchDeleteGeofenceError"
            }
        },
        "BatchDeleteGeofenceRequest": {
            "type": "structure",
            "required": [
                "CollectionName",
                "GeofenceIds"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The geofence collection storing the geofences to be deleted.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                },
                "GeofenceIds": {
                    "shape": "BatchDeleteGeofenceRequestGeofenceIdsList",
                    "documentation": "<p>The batch of geofences to be deleted.</p>"
                }
            }
        },
        "BatchDeleteGeofenceRequestGeofenceIdsList": {
            "type": "list",
            "member": {
                "shape": "Id"
            },
            "max": 10,
            "min": 1
        },
        "BatchDeleteGeofenceResponse": {
            "type": "structure",
            "required": [
                "Errors"
            ],
            "members": {
                "Errors": {
                    "shape": "BatchDeleteGeofenceErrorList",
                    "documentation": "<p>Contains error details for each geofence that failed to delete.</p>"
                }
            }
        },
        "BatchEvaluateGeofencesError": {
            "type": "structure",
            "required": [
                "DeviceId",
                "Error",
                "SampleTime"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The device identifier associated with the failed position evaluation.</p>"
                },
                "Error": {
                    "shape": "BatchItemError",
                    "documentation": "<p>Specifies an error message associated with the request.</p>"
                },
                "SampleTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>Specifies a timestamp for when the error occurred. </p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            },
            "documentation": "<p>Contains error details for each device that failed to evaluate its position against the geofences of a given geofence collection.</p>"
        },
        "BatchEvaluateGeofencesErrorList": {
            "type": "list",
            "member": {
                "shape": "BatchEvaluateGeofencesError"
            }
        },
        "BatchEvaluateGeofencesRequest": {
            "type": "structure",
            "required": [
                "CollectionName",
                "DevicePositionUpdates"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the geofence collection to be used in evaluating the position of devices against its geofences.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                },
                "DevicePositionUpdates": {
                    "shape": "BatchEvaluateGeofencesRequestDevicePositionUpdatesList",
                    "documentation": "<p>Contains device details for each device to be evaluated against the given geofence collection.</p>"
                }
            }
        },
        "BatchEvaluateGeofencesRequestDevicePositionUpdatesList": {
            "type": "list",
            "member": {
                "shape": "DevicePositionUpdate"
            },
            "max": 10,
            "min": 1
        },
        "BatchEvaluateGeofencesResponse": {
            "type": "structure",
            "required": [
                "Errors"
            ],
            "members": {
                "Errors": {
                    "shape": "BatchEvaluateGeofencesErrorList",
                    "documentation": "<p>Contains error details for each device that failed to evaluate its position against the given geofence collection.</p>"
                }
            }
        },
        "BatchGetDevicePositionError": {
            "type": "structure",
            "required": [
                "DeviceId",
                "Error"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the device that didn't return a position.</p>"
                },
                "Error": {
                    "shape": "BatchItemError",
                    "documentation": "<p>Provides additional details to add context to the error code.</p>"
                }
            },
            "documentation": "<p>Contains error details for each device that didn't return a position.</p>"
        },
        "BatchGetDevicePositionErrorList": {
            "type": "list",
            "member": {
                "shape": "BatchGetDevicePositionError"
            }
        },
        "BatchGetDevicePositionRequest": {
            "type": "structure",
            "required": [
                "DeviceIds",
                "TrackerName"
            ],
            "members": {
                "DeviceIds": {
                    "shape": "BatchGetDevicePositionRequestDeviceIdsList",
                    "documentation": "<p>The ID of the device whose position you want to retrieve.</p> <ul> <li> <p>For example, for two devices: <code>device-ids=DeviceId1&amp;device-ids=DeviceId2</code> </p> </li> </ul>",
                    "location": "querystring",
                    "locationName": "device-ids"
                },
                "TrackerName": {
                    "shape": "BatchGetDevicePositionRequestTrackerNameString",
                    "documentation": "<p>The name of the tracker resource retrieving the device position.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "BatchGetDevicePositionRequestDeviceIdsList": {
            "type": "list",
            "member": {
                "shape": "Id"
            },
            "max": 10,
            "min": 1
        },
        "BatchGetDevicePositionRequestTrackerNameString": {
            "type": "string",
            "min": 1,
            "pattern": "^[-._\\p{L}\\p{N}]+$"
        },
        "BatchGetDevicePositionResponse": {
            "type": "structure",
            "required": [
                "DevicePositions",
                "Errors"
            ],
            "members": {
                "DevicePositions": {
                    "shape": "DevicePositionList",
                    "documentation": "<p>The device position requested. Contains the position, and timestamps for each device specified in the request. </p>"
                },
                "Errors": {
                    "shape": "BatchGetDevicePositionErrorList",
                    "documentation": "<p>A summary that contains error details for each device that failed to send its position to the tracker resource.</p>"
                }
            }
        },
        "BatchItemError": {
            "type": "structure",
            "members": {
                "Code": {
                    "shape": "BatchItemErrorCode",
                    "documentation": "<p>TODO: Karen, The error code.</p>"
                },
                "Message": {
                    "shape": "String",
                    "documentation": "<p>TODO: Karen, A message with the reason for the error.</p>"
                }
            },
            "documentation": "<p>Contains details on an error that has occurred while processing a batch request.</p>"
        },
        "BatchItemErrorCode": {
            "type": "string",
            "enum": [
                "AccessDeniedError",
                "ConflictError",
                "InternalServerError",
                "ResourceNotFoundError",
                "ThrottlingError",
                "ValidationError"
            ]
        },
        "BatchPutGeofenceError": {
            "type": "structure",
            "required": [
                "Error",
                "GeofenceId"
            ],
            "members": {
                "Error": {
                    "shape": "BatchItemError",
                    "documentation": "<p>Specifies an error message associated with the request.</p>"
                },
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The geofence associated with the error message.</p>"
                }
            },
            "documentation": "<p>Contains error details for each geofence that failed to add to a given geofence collection.</p>"
        },
        "BatchPutGeofenceErrorList": {
            "type": "list",
            "member": {
                "shape": "BatchPutGeofenceError"
            }
        },
        "BatchPutGeofenceRequest": {
            "type": "structure",
            "required": [
                "CollectionName",
                "Entries"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the geofence collection to add the geofences to.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                },
                "Entries": {
                    "shape": "BatchPutGeofenceRequestEntriesList",
                    "documentation": "<p>The batch of geofences to be added to the geofence collection.</p>"
                }
            }
        },
        "BatchPutGeofenceRequestEntriesList": {
            "type": "list",
            "member": {
                "shape": "BatchPutGeofenceRequestEntry"
            },
            "max": 10,
            "min": 1
        },
        "BatchPutGeofenceRequestEntry": {
            "type": "structure",
            "required": [
                "GeofenceId",
                "Geometry"
            ],
            "members": {
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The geofence to be added to the specified geofence collection.</p>"
                },
                "Geometry": {
                    "shape": "GeofenceGeometry",
                    "documentation": "<p>Contains the polygon details to specify the position of the geofence.</p>"
                }
            },
            "documentation": "<p>Contains details of geofences to be added to a specified geofence collection.</p>"
        },
        "BatchPutGeofenceResponse": {
            "type": "structure",
            "required": [
                "Errors",
                "Successes"
            ],
            "members": {
                "Errors": {
                    "shape": "BatchPutGeofenceErrorList",
                    "documentation": "<p>Contains additional error details for each geofence that failed to be added to a geofence collection.</p>"
                },
                "Successes": {
                    "shape": "BatchPutGeofenceSuccessList",
                    "documentation": "<p>Contains each geofence that was successfully added to the geofence collection.</p>"
                }
            }
        },
        "BatchPutGeofenceSuccess": {
            "type": "structure",
            "required": [
                "CreateTime",
                "GeofenceId",
                "UpdateTime"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence was created. </p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                },
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the geofence successfully added to the geofence collection.</p>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>Specifies a timestamp for when the geofence was added to the geofence collection.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            },
            "documentation": "<p>Contains a summary that lists each geofence that was successfuly added to a given geofence collection using <code>&gt;BatchPutGeofence</code> </p>"
        },
        "BatchPutGeofenceSuccessList": {
            "type": "list",
            "member": {
                "shape": "BatchPutGeofenceSuccess"
            }
        },
        "BatchUpdateDevicePositionError": {
            "type": "structure",
            "required": [
                "DeviceId",
                "Error",
                "SampleTime"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>Refers to the device associated with the failed location update.</p>"
                },
                "Error": {
                    "shape": "BatchItemError",
                    "documentation": "<p>Provides additional details to add context to the error code.</p> <p>Specifies the HTTP status response associated with the location update request.</p>"
                },
                "SampleTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when a position sample was attempted.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                }
            },
            "documentation": "<p>Contains error details for each device that has failed to upload its location data to a tracker resource using </p>"
        },
        "BatchUpdateDevicePositionErrorList": {
            "type": "list",
            "member": {
                "shape": "BatchUpdateDevicePositionError"
            }
        },
        "BatchUpdateDevicePositionRequest": {
            "type": "structure",
            "required": [
                "TrackerName",
                "Updates"
            ],
            "members": {
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource to update.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                },
                "Updates": {
                    "shape": "BatchUpdateDevicePositionRequestUpdatesList",
                    "documentation": "<p>Contains the position update for each device.</p>"
                }
            }
        },
        "BatchUpdateDevicePositionRequestUpdatesList": {
            "type": "list",
            "member": {
                "shape": "DevicePositionUpdate"
            },
            "max": 10,
            "min": 1
        },
        "BatchUpdateDevicePositionResponse": {
            "type": "structure",
            "required": [
                "Errors"
            ],
            "members": {
                "Errors": {
                    "shape": "BatchUpdateDevicePositionErrorList",
                    "documentation": "<p>A summary that contains error details for each device that failed to update its position.</p>"
                }
            }
        },
        "Blob": {
            "type": "blob"
        },
        "BoundingBox": {
            "type": "list",
            "member": {
                "shape": "Double"
            },
            "max": 6,
            "min": 4,
            "sensitive": true
        },
        "ConflictException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String",
                    "locationName": "message"
                }
            },
            "documentation": "<p>The request was unsuccessful due to a conflict.</p>",
            "error": {
                "httpStatusCode": 409,
                "senderFault": true
            },
            "exception": true
        },
        "CountryCode": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
        },
        "CountryCodeList": {
            "type": "list",
            "member": {
                "shape": "CountryCode"
            },
            "max": 100,
            "min": 1
        },
        "CreateGeofenceCollectionRequest": {
            "type": "structure",
            "required": [
                "CollectionName"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>A custom name for the geofence collection.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0-9), hyphens (-), and underscores (_). </p> </li> <li> <p>Must be a unique tracker resource name.</p> </li> </ul>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>An optional description for the geofence collection.</p>"
                }
            }
        },
        "CreateGeofenceCollectionResponse": {
            "type": "structure",
            "required": [
                "CollectionArn",
                "CollectionName",
                "CreateTime"
            ],
            "members": {
                "CollectionArn": {
                    "shape": "Arn",
                    "documentation": "<p>TODO: Karen</p>"
                },
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name you've entered for the geofence collection.</p>"
                },
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence collection was created.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            }
        },
        "CreateMapRequest": {
            "type": "structure",
            "required": [
                "Configuration",
                "MapName"
            ],
            "members": {
                "Configuration": {
                    "shape": "MapConfiguration",
                    "documentation": "<p>Contains the map style selected from an available provider.</p>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>An optional description for the map resource.</p>"
                },
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name for the map resource.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), and underscores (_). </p> </li> <li> <p>Must be a unique map resource name. </p> </li> </ul>"
                }
            }
        },
        "CreateMapResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "MapArn",
                "MapName"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the map resource was created.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>.</p> </li> </ul>"
                },
                "MapArn": {
                    "shape": "Arn",
                    "documentation": "<p>TODO: Karen</p>"
                },
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the map resource.</p>"
                }
            }
        },
        "CreatePlaceIndexRequest": {
            "type": "structure",
            "required": [
                "DataSource",
                "IndexName"
            ],
            "members": {
                "DataSource": {
                    "shape": "String",
                    "documentation": "<p>The data source for the place index resource. </p>"
                },
                "DataSourceConfiguration": {
                    "shape": "DataSourceConfiguration",
                    "documentation": "<p>The configuration settings for the chosen data source.</p>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>The description for the place index resource.</p>"
                },
                "IndexName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name for the place index resource. </p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A-Z, a-z, 0-9) , hyphens (-) and underscores (_).</p> </li> <li> <p>Must be a unique place index resource name.</p> </li> </ul>"
                }
            }
        },
        "CreatePlaceIndexResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "IndexArn",
                "IndexName"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The create time for the place index resource.</p>"
                },
                "IndexArn": {
                    "shape": "Arn",
                    "documentation": "<p>The ARN for the place index resource.</p>"
                },
                "IndexName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name for the place index resource.</p>"
                }
            }
        },
        "CreateTrackerRequest": {
            "type": "structure",
            "required": [
                "TrackerName"
            ],
            "members": {
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>A custom description for the tracker resource.</p>"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name for the tracker resource.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A-Z, a-z, 0-9) , hyphens (-) and underscores (_). </p> </li> <li> <p>Must be a unique tracker resource name.</p> </li> </ul>"
                }
            }
        },
        "CreateTrackerResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "TrackerArn",
                "TrackerName"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the tracker resource was created. </p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                },
                "TrackerArn": {
                    "shape": "Arn",
                    "documentation": "<p>The unique Amazon Resource Name (ARN) assigned to the tracker resource.</p>"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name you've entered for the tracker resource.</p>"
                }
            }
        },
        "DataSourceConfiguration": {
            "type": "structure",
            "members": {
                "IntendedUse": {
                    "shape": "IntendedUse",
                    "documentation": "<p>Specifies how the results of an operation will be stored by the caller.</p> <p>Valid values include:</p> <ul> <li> <p> <code>SingleUse</code> specifies that the results won't be stored. When selecting this option, you cannot permanently store the results of <code>SearchPlaceIndexForText</code> or <code>SearchPlaceIndexForPosition</code>.</p> </li> <li> <p> <code>Storage</code> specifies that the result can be cached or stored in a database.</p> </li> </ul> <p>Default value: <code>SingleUse</code> </p>"
                }
            },
            "documentation": "<p>Contains configuration settings related to the chosen data source.</p>"
        },
        "DeleteGeofenceCollectionRequest": {
            "type": "structure",
            "required": [
                "CollectionName"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the geofence collection to be deleted.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                }
            }
        },
        "DeleteGeofenceCollectionResponse": {
            "type": "structure",
            "members": {}
        },
        "DeleteMapRequest": {
            "type": "structure",
            "required": [
                "MapName"
            ],
            "members": {
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the map resource to be deleted.</p>",
                    "location": "uri",
                    "locationName": "MapName"
                }
            }
        },
        "DeleteMapResponse": {
            "type": "structure",
            "members": {}
        },
        "DeletePlaceIndexRequest": {
            "type": "structure",
            "required": [
                "IndexName"
            ],
            "members": {
                "IndexName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the place index resource to be deleted.</p>",
                    "location": "uri",
                    "locationName": "IndexName"
                }
            }
        },
        "DeletePlaceIndexResponse": {
            "type": "structure",
            "members": {}
        },
        "DeleteTrackerRequest": {
            "type": "structure",
            "required": [
                "TrackerName"
            ],
            "members": {
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource to be deleted.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "DeleteTrackerResponse": {
            "type": "structure",
            "members": {}
        },
        "DescribeGeofenceCollectionRequest": {
            "type": "structure",
            "required": [
                "CollectionName"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The geofence collection to describe.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                }
            }
        },
        "DescribeGeofenceCollectionResponse": {
            "type": "structure",
            "required": [
                "CollectionArn",
                "CollectionName",
                "CreateTime",
                "Description",
                "UpdateTime"
            ],
            "members": {
                "CollectionArn": {
                    "shape": "Arn",
                    "documentation": "<p>TODO: Karen</p>"
                },
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The geofence collection associated to the description.</p>"
                },
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence resource was created. </p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>The geofence collection description.</p>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence collection was last updated.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            }
        },
        "DescribeMapRequest": {
            "type": "structure",
            "required": [
                "MapName"
            ],
            "members": {
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the map resource.</p>",
                    "location": "uri",
                    "locationName": "MapName"
                }
            }
        },
        "DescribeMapResponse": {
            "type": "structure",
            "required": [
                "Configuration",
                "CreateTime",
                "DataSource",
                "Description",
                "MapArn",
                "MapName",
                "UpdateTime"
            ],
            "members": {
                "Configuration": {
                    "shape": "MapConfiguration",
                    "documentation": "<p>Contains the map style details.</p>"
                },
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the map resource was created.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>.</p> </li> </ul>"
                },
                "DataSource": {
                    "shape": "String",
                    "documentation": "<p>The map style's provider.</p>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>The description for the map resource description.</p>"
                },
                "MapArn": {
                    "shape": "Arn",
                    "documentation": "<p>TODO: Karen</p>"
                },
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The map style selected from an available provider.</p>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the map resource was last updated.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>.</p> </li> </ul>"
                }
            }
        },
        "DescribePlaceIndexRequest": {
            "type": "structure",
            "required": [
                "IndexName"
            ],
            "members": {
                "IndexName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The place index resource to describe.</p>",
                    "location": "uri",
                    "locationName": "IndexName"
                }
            }
        },
        "DescribePlaceIndexResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "DataSource",
                "DataSourceConfiguration",
                "Description",
                "IndexArn",
                "IndexName",
                "UpdateTime"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The time the place index resource was created.</p>"
                },
                "DataSource": {
                    "shape": "String",
                    "documentation": "<p>The data source for the place index resource. </p>"
                },
                "DataSourceConfiguration": {
                    "shape": "DataSourceConfiguration",
                    "documentation": "<p>Contains the configuration settings for the chosen data source.</p>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>The description for the place index resource.</p>"
                },
                "IndexArn": {
                    "shape": "Arn",
                    "documentation": "<p>The ARN of the place index resource being described.</p>"
                },
                "IndexName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the place index resource being described.</p>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The time the place index resource was last updated.</p>"
                }
            }
        },
        "DescribeTrackerRequest": {
            "type": "structure",
            "required": [
                "TrackerName"
            ],
            "members": {
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource to describe.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "DescribeTrackerResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "Description",
                "TrackerArn",
                "TrackerName",
                "UpdateTime"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the tracker resource was created. </p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                },
                "Description": {
                    "shape": "ResourceDescription",
                    "documentation": "<p>The description for the tracker resource.</p>"
                },
                "TrackerArn": {
                    "shape": "Arn",
                    "documentation": "<p>TODO: Karen</p>"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource.</p>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the tracker resource was last updated.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                }
            }
        },
        "DevicePosition": {
            "type": "structure",
            "required": [
                "Position",
                "ReceivedTime",
                "SampleTime"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the device whose position you retrieved.</p>"
                },
                "Position": {
                    "shape": "Position",
                    "documentation": "<p>The last known device position.</p>"
                },
                "ReceivedTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the tracker resource recieved the position.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                },
                "SampleTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the position was detected and sampled.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                }
            },
            "documentation": "<p>Contains the position details retrieved from each device using <code>GetDevicePosition</code> or <code>BatchGetDevicePosition</code>.</p>"
        },
        "DevicePositionList": {
            "type": "list",
            "member": {
                "shape": "DevicePosition"
            }
        },
        "DevicePositionUpdate": {
            "type": "structure",
            "required": [
                "DeviceId",
                "Position",
                "SampleTime"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The device identifier related to the position update.</p>"
                },
                "Position": {
                    "shape": "Position",
                    "documentation": "<p>Defines a point geometry object to represent a location using coordinates in the World Geodetic System (WGS 84) format and has the following properties:</p> <ul> <li> <p> <i>x</i> — Specifies the x coordinates or longitude. </p> </li> <li> <p> <i>y</i> — Specifies the y coordinates or latitude. </p> </li> <li> <p> <i>z</i> — Optional value that specifies the elevation relative to the ground surface. For example, when defining hills and mountains. </p> </li> </ul>"
                },
                "SampleTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the position was recieved by the geofence.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            },
            "documentation": "<p>Specifies a location update for a device as a single point geometry.</p>"
        },
        "DisassociateTrackerConsumerRequest": {
            "type": "structure",
            "required": [
                "ConsumerArn",
                "TrackerName"
            ],
            "members": {
                "ConsumerArn": {
                    "shape": "Arn",
                    "documentation": "<p>The Amazon Resource Name (ARN) of the geofence collection you want to disassociate from the tracker resource. An ARN is a unique identifier used to identify an AWS resource.</p> <ul> <li> <p>Format example: <code>arn:partition:service:region:account-id:resource-type:resource-id</code> </p> </li> </ul>",
                    "location": "uri",
                    "locationName": "ConsumerArn"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource to be dissociated from the consumer.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "DisassociateTrackerConsumerResponse": {
            "type": "structure",
            "members": {}
        },
        "Double": {
            "type": "double",
            "box": true
        },
        "GeofenceGeometry": {
            "type": "structure",
            "members": {
                "Polygon": {
                    "shape": "LinearRings",
                    "documentation": "<p>A linear ring or lines where the first and last vertex are the same to define a closed boundary. Each linear ring contains a list of vertices, containing a minimum of 1 vertex and a maxiumum of 4 vertices, represented as <code>[longitude, latitude]</code>.</p>"
                }
            },
            "documentation": "<p>Contains a polygon object to describe the geofence position.</p>"
        },
        "GetDevicePositionHistoryRequest": {
            "type": "structure",
            "required": [
                "DeviceId",
                "TrackerName"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the device whose position history you want to retrieve.</p>",
                    "location": "uri",
                    "locationName": "DeviceId"
                },
                "EndTimeExclusive": {
                    "shape": "Timestamp",
                    "documentation": "<p>Specify the end time for the position history.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul> <ul> <li> <p>The given time for <code>EndTimeExclusive</code> must be after the time for <code>StartTimeInclusive</code>.</p> </li> </ul>",
                    "location": "querystring",
                    "locationName": "end-time-exclusive"
                },
                "NextToken": {
                    "shape": "Token",
                    "documentation": "<p>The pagination token specifying which page of results to return in the response. If no token is provided, the default page will be the first page. </p> <p>Default value: <code>null</code> </p>",
                    "location": "querystring",
                    "locationName": "next-token"
                },
                "StartTimeInclusive": {
                    "shape": "Timestamp",
                    "documentation": "<p>Specify the start time for the position history.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul> <ul> <li> <p>The given time for <code>EndTimeExclusive</code> must be after the time for <code>StartTimeInclusive</code>.</p> </li> </ul>",
                    "location": "querystring",
                    "locationName": "start-time-inclusive"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource receiving the request for the device position history.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "GetDevicePositionHistoryResponse": {
            "type": "structure",
            "required": [
                "DevicePositions"
            ],
            "members": {
                "DevicePositions": {
                    "shape": "DevicePositionList",
                    "documentation": "<p>Contains the position history details for the requested device.</p>"
                },
                "NextToken": {
                    "shape": "Token",
                    "documentation": "<p>A pagination token indicating there are additional pages available. You can use the token in a following request to fetch the next set of results. </p>"
                }
            }
        },
        "GetDevicePositionRequest": {
            "type": "structure",
            "required": [
                "DeviceId",
                "TrackerName"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the device whose position you want to retreieve.</p>",
                    "location": "uri",
                    "locationName": "DeviceId"
                },
                "TrackerName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The name of the tracker resource receiving the position update.</p>",
                    "location": "uri",
                    "locationName": "TrackerName"
                }
            }
        },
        "GetDevicePositionResponse": {
            "type": "structure",
            "required": [
                "Position",
                "ReceivedTime",
                "SampleTime"
            ],
            "members": {
                "DeviceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the device whose position you retrieved.</p>"
                },
                "Position": {
                    "shape": "Position",
                    "documentation": "<p>The last known device position.</p>"
                },
                "ReceivedTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the tracker resource recieved the position.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601 </a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                },
                "SampleTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the position was detected and sampled.</p> <ul> <li> <p>Use the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601 </a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code>. </p> </li> </ul>"
                }
            }
        },
        "GetGeofenceRequest": {
            "type": "structure",
            "required": [
                "CollectionName",
                "GeofenceId"
            ],
            "members": {
                "CollectionName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The geofence collection storing the target geofence.</p>",
                    "location": "uri",
                    "locationName": "CollectionName"
                },
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The ID of the target geofence to retrieve the details from.</p>",
                    "location": "uri",
                    "locationName": "GeofenceId"
                }
            }
        },
        "GetGeofenceResponse": {
            "type": "structure",
            "required": [
                "CreateTime",
                "GeofenceId",
                "Geometry",
                "Status",
                "UpdateTime"
            ],
            "members": {
                "CreateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence collection was created.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                },
                "GeofenceId": {
                    "shape": "Id",
                    "documentation": "<p>The geofence ID associated with the description.</p>"
                },
                "Geometry": {
                    "shape": "GeofenceGeometry",
                    "documentation": "<p>Contains a polygon object to describe the geofence position.</p>"
                },
                "Status": {
                    "shape": "String",
                    "documentation": "<p>Identifies the state of the geofence. A geofence will hold one of the following states:</p> <ul> <li> <p> <code>ACTIVE</code> — The geofence has been indexed by the system. </p> </li> <li> <p> <code>PENDING</code> — The geofence is being processed by the system.</p> </li> <li> <p> <code>FAILED</code> — The geofence failed to be indexed by the system.</p> </li> <li> <p> <code>DELETED</code> — The geofence has been deleted from the system index.</p> </li> <li> <p> <code>DELETING</code> — The geofence is being deleted from the sytem index.</p> </li> </ul>"
                },
                "UpdateTime": {
                    "shape": "Timestamp",
                    "documentation": "<p>The timestamp for when the geofence collection was last updated.</p> <ul> <li> <p>Uses the <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sss</code> </p> </li> </ul>"
                }
            }
        },
        "GetMapGlyphsRequest": {
            "type": "structure",
            "required": [
                "FontStack",
                "FontUnicodeRange",
                "MapName"
            ],
            "members": {
                "FontStack": {
                    "shape": "String",
                    "documentation": "<p>A comma-separated list of fonts to load in order of preference.</p>",
                    "location": "uri",
                    "locationName": "FontStack"
                },
                "FontUnicodeRange": {
                    "shape": "GetMapGlyphsRequestFontUnicodeRangeString",
                    "documentation": "<p>A Unicode range to download characters. Used for displaying text as blocks of 256-code points on a map.</p>",
                    "location": "uri",
                    "locationName": "FontUnicodeRange"
                },
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The map resource name associated with the glyph file.</p>",
                    "location": "uri",
                    "locationName": "MapName"
                }
            }
        },
        "GetMapGlyphsRequestFontUnicodeRangeString": {
            "type": "string",
            "pattern": "^[0-9]+-[0-9]+\\.pbf$"
        },
        "GetMapGlyphsResponse": {
            "type": "structure",
            "members": {
                "Blob": {
                    "shape": "Blob",
                    "documentation": "<p>The glyph file containing the glyph details for the configured map resource.</p>"
                },
                "ContentType": {
                    "shape": "String",
                    "documentation": "<p>The map glyph content type. For example, <code>application/octet-stream</code>.</p>",
                    "location": "header",
                    "locationName": "Content-Type"
                }
            },
            "payload": "Blob"
        },
        "GetMapSpritesRequest": {
            "type": "structure",
            "required": [
                "FileName",
                "MapName"
            ],
            "members": {
                "FileName": {
                    "shape": "GetMapSpritesRequestFileNameString",
                    "documentation": "<p>The name of the sprite file. Use the following file names:</p> <ul> <li> <p>sprites.png</p> </li> <li> <p>sprites@2x.png</p> </li> </ul> <p>For JSON document specifying the sprite file location. Use the following file names:</p> <ul> <li> <p>sprites.json</p> </li> <li> <p>sprites@2x.json</p> </li> </ul>",
                    "location": "uri",
                    "locationName": "FileName"
                },
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The map resource associated to the sprite file.</p>",
                    "location": "uri",
                    "locationName": "MapName"
                }
            }
        },
        "GetMapSpritesRequestFileNameString": {
            "type": "string",
            "pattern": "^sprites(@2x)?\\.(png|json)$"
        },
        "GetMapSpritesResponse": {
            "type": "structure",
            "members": {
                "Blob": {
                    "shape": "Blob",
                    "documentation": "<p>Contains the body of the sprite file or JSON sprite location description file.</p>"
                },
                "ContentType": {
                    "shape": "String",
                    "documentation": "<p>The sprite file and sprite location document content type.For example, The sprite content type is <code>image/png</code>, and the sprite location JSON document is <code>application/json</code>.</p>",
                    "location": "header",
                    "locationName": "Content-Type"
                }
            },
            "payload": "Blob"
        },
        "GetMapStyleDescriptorRequest": {
            "type": "structure",
            "required": [
                "MapName"
            ],
            "members": {
                "MapName": {
                    "shape": "ResourceName",
                    "documentation": "<p>The map resource to retrieve the style descriptor from.</p>",
                    "location": "uri",
                    "locationName": "MapName"
                }
            }
        },
        "GetMapStyleDescriptorResponse": {
            "type": "structure",
            "members": {
                "Blob": {
                    "shape": "Blob",
                    "documentation": "<p>Contains the body of the style descriptor.</p>"
                },
                "ContentType": {
                    "shape": "String",
                    "documentation": "<p>The style descriptor content type. For example, <code>application/json</code>.</p>",
                    "location": "header",
                    "locationName": "Content-Type"
                }
            },
            "payload": "Blob"
        },
        "GetMapTileRequest": {
            "type": "structure",
            "required": [
                "MapName",
[...]
